.logo {
    width: 80%;
    height: 70px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 30px !important;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #086AD8;
}

.me-auto {
    margin-left: auto !important;
}

.banner {
    width: 100%;
}